* {
     max-width: 1600px;
     margin: 0 Auto;
}

button:hover {
     background-color: lightgreen;
     color: #06ae87;
}

.open-sans {
     font-family: "Open Sans", sans-serif;
}

/* nav css */

.div-container {
     display: flex;
     justify-content: space-between;
     margin: 16px 120px;
     align-items: center;
}

.div-container ul {
     list-style: none;
     display: flex;
     gap: 32px;
     font-size: 16px;
     font-weight: 550;
}

.green {
     border: none;
     border-radius: 4px;
     background-color: #459064;
     color: #FFFFFF;
     padding: 12.5px 16px;
     font-size: 16px;
     font-weight: 580;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

/* banner css */

#banner {
     background-image: url(./assets/hero-bg.png);
     background-size: cover;
     max-width: 1600px;
     max-height: 674px;
     padding: 115.5px 120px 179.5px 120px;
}



.msg {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}



.msg .he {
     background-color: #FFFFFF;
     border-radius: 8px;
     color: #459064;
     font-size: 16px;
     font-weight: 600;
     padding: 8px 34px;
     max-width: 229px;
     margin-bottom: 0;
}

.msg h1 {
     font-size: 72px;
     font-weight: bold;
     line-height: 84px;
     color: #FFFFFF;
     margin-bottom: 0;
     margin-top: 16px;
}

.hudai {
     color: #459064;
}

.btn {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
     margin-top: 32px;
}

.hudai2 {
     border: 1px solid #FFFFFF;
     border-radius: 4px;
     padding: 16px;
     background-color: transparent;
     color: #FFFFFF;
     font-size: 16px;
}

.msg2 {
     font-size: 18px;
     color: #FFFFFF;
     margin-top: 16px;
     line-height: 24px;
}

/* Notes Section */

.note-container .msg3 {
     margin-top: 0;
     align-items: center;
     justify-items: center;
}

.note-container .msg3 h1 {
     font-size: 48px;
     font-weight: bold;
     color: #001931;
     padding-top: 50px;
}

.note-container .msg3 p {
     font-size: 16px;
     color: #627382;
     margin-top: 16px;

}

.card-container {
     display: flex;
     margin: 44px 120px;
     gap: 48px;
}

.card-container .card {
     align-items: center;
     justify-content: center;
     text-align: center;
     display: flex;
     flex-direction: column;
     border-radius: 8px;
     padding: 69.5px 24px;
     box-shadow: 0px 0px 8px 3px #aaacac6b;
     gap: 16px;
}


.card-container .card h1 {
     font-size: 16px;


}

.card-container .card p {
     font-size: 16px;
     line-height: 20px;
     align-items: center;
     justify-content: center;

}

.circle {
     width: 10%;
     height: 15%;
     background: #F95555;
     padding: 14px;
     border-radius: 50%;

}

/* Second Brain Section */

#sec-brain {
     display: flex;
     padding: 120px;
     gap: 60px;
}

#sec-brain img {
     box-shadow: 0px 0px 8px 3px #aaacac6b;
     border-radius: 12px;


}

.sec-msg {
     display: flex;
     align-items: center;
     justify-content: center;
}

.hudai3 {
     font-size: 16px;
     line-height: 20px;
     color: #459064;
     margin-bottom: 0;
}

.sec-msg2 h1 {
     font-size: 48px;
     font-weight: bold;
     color: #001931;
     text-shadow: 0px 4px 4px #00000073;
     margin-top: 0;
}

.hudai4 {
     padding-top: 40px;
     align-items: flex-start;
     justify-content: flex-start;


}



.hudai4 h6 {
     font-size: 16px;
     line-height: 20px;
     color: #001931;
     text-shadow: 0px 4px 4px #00000073;
     padding: 2px;
     gap: 2px;


}


/* Early Access Section */

#early {
     padding: 2px 120px 120px;

}


#early .acc {
     margin-top: 0;
     display: flex;
     flex-direction: column;
     background-color: #F7F6F2;
     padding: 80px 40px;
     text-align: center;
}

.title h1 {
     font-size: 40px;
     font-weight: bold;
     color: 001931;
}

.title p,
.title2 p {
     margin-top: 16px;
     margin-bottom: 26px;
     font-size: 16px;
     line-height: 24px;
     color: #627382
}

.title2 .blue {
     box-shadow: 0 10px 20px #627382a2;
}


/* Footer Section */

footer {
     background-color: #001931;
     color: #FFFFFF;
     margin: 0;
     padding: 120px 120px 30px 120px;

}


.logo {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 80px;
     gap: 790px
}

.foot-box {
     display: block;
}

.footnote {
     border: 1px solid black;
     max-width: 1360px;
     text-align: center;
     padding-top: 30px;
     box-shadow: 0px -3px 2px rgba(94, 94, 94, 0.402);

}