.div-container{
display: flex;
justify-content: space-between;
align-items: center;
margin: 16px 120px;

}

.green{
border: none;
border-radius: 4px;
font-size: 16px;
font-weight: bold;
color: #FFFFFF;
padding: 12.5px 16px;
background-color: #469165;

}
.menu ul{
list-style: none;
display: flex;
gap: 32px;
}

.menu ul li{
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-size: 16px;
}
#banner{
     background-image: url(./assets/hero-bg.png);
}

.card-container{
display: flex;
align-items: center;
}
