* {
     max-width: 1600px;
}

.open-sans {
     font-family: "Open Sans", sans-serif;
}

/* nav css */

.div-container {
     display: flex;
     justify-content: space-between;
     margin: 16px 120px;
     align-items: center;
}

.div-container ul {
     list-style: none;
     display: flex;
     gap: 32px;
     font-size: 16px;
     font-weight: 550;
}

.green {
     border: none;
     border-radius: 4px;
     background-color: #459064;
     color: #FFFFFF;
     padding: 12.5px 16px;
     font-size: 16px;
     font-weight: 580;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

/* banner css */

#banner {
     background-image: url(./assets/hero-bg.png);
     background-size: cover;
     max-width: 1600px;
     max-height: 674px;
     padding: 115.5px 120px 179.5px 120px;
}



.msg {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.msg .he {
     background-color: #FFFFFF;
     border-radius: 8px;
     color: #459064;
     font-size: 16px;
     padding: 8px 34px;
     max-width: 229px;
     margin-bottom: 0;
}

.msg h1 {
     font-size: 72px;
     font-weight: bold;
     line-height: 84px;
     color: #FFFFFF;
     margin-bottom: 0;
     margin-top: 16px;
}

.hudai {
     color: #459064;
}

.btn {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
}

.hudai2 {
     border: 1px solid #FFFFFF;
     border-radius: 4px;
     padding: 16px;
     background-color: transparent;
     color: #FFFFFF;
     font-size: 16px;
}

.msg2 {
     font-size: 18px;
     color: #FFFFFF;
     margin-top: 16px;
     line-height: 24px;
}



.note-container .msg3 {
     margin-top: 0;
     align-items: center;
     justify-items: center;
}

.note-container .msg3 h1 {
     font-size: 48px;
     font-weight: bold;
     color: #001931;
}

.note-container .msg3 p {
     font-size: 16px;
     color: #627382;
     margin-top: 16px;

}

.card-container {
     display: flex;
     margin: 44px 120px;
     gap: 48px;
}

.card-container .card {
     align-items: center;
     justify-content: center;
     text-align: center;
     display: flex;
     flex-direction: column;
     border-radius: 8px;
     padding: 69.5px 24px;
     box-shadow: 0px 0px 8px 3px #aaacac6b;
}


.card-container .card h1 {
     font-size: 16px;


}

.card-container .card p {
     font-size: 16px;
     line-height: 20px;
     align-items: center;
     justify-content: center;

}

.circle {
     width: 10%;
     height: 15%;
     background: #F85454;
     padding: 14px;
     border-radius: 50%;

}